.bg-secondary {
  background-color: #d8a3b0 !important;
}

.bg-primary {
  background-color: #b13a4d !important;
}

#log {
  color: rgb(255, 255, 255);
}

#entrar {
  color:#ffffff;
}

#foo {
  color: rgb(255, 255, 255);
}
